<main>
  <div class="search-div" id="search-div">
    <input type="text" class="input" id="input" placeholder="Enter Your Meal !!">
    <button class="search-btn" id="search-btn">Get Meal</button>
    <button class="search-random-btn" id="search-random-btn">Random Meal</button>
  </div>
  <div class="result" id="result">
    
  </div>
</main>

